In [1]:
import os
from arcgis.features import GeoAccessor
from arcgis.geometry import Geometry
import pandas as pd
import numpy as np

import sys
sys.path.append('../src/geoai_retail')
import utils

In [2]:
od_csv = r'../data/interim/closest_table.csv'
trips_summ_csv = r'../data/raw/raw_trips_stats.csv'
trips_summ_tbl = r'D:\projects\geoai-retail\data\interim\interim.gdb\raw_trips_pdx_intersect_stats'
raw_gdb = r'../data/raw/raw.gdb'
origin_fc = os.path.join(raw_gdb, 'blocks')
origin_id_fld = 'GEOID'

In [9]:
od_df = pd.read_csv(od_csv, index_col=0)
od_df.head()

,origin_id,destination_id_01,proximity_kilometers_01,proximity_minutes_01,destination_id_02,proximity_kilometers_02,proximity_minutes_02,destination_id_03,proximity_kilometers_03,proximity_minutes_03,destination_id_04,proximity_kilometers_04,proximity_minutes_04
0,410050201001000,998326755,1.548381,3.355589,236771176,1.716985,3.834511,731023672,1.776342,3.778623,895875482,1.880792,4.141975
1,410050201001001,998326755,1.358351,2.816526,236771176,1.526954,3.295449,731023672,1.586312,3.239560,895875482,1.690762,3.602913
2,410050201001002,998326755,1.683183,3.781076,236771176,1.851786,4.259999,731023672,1.911143,4.204111,895875482,2.015593,4.567463
3,410050201001003,998326755,1.480122,3.140135,236771176,1.648726,3.619058,731023672,1.708083,3.563170,895875482,1.812533,3.926522
4,410050201001004,998326755,1.577137,2.642447,236771176,1.745741,3.121370,731023672,1.805098,3.065482,895875482,1.909548,3.428834

In [8]:
trips_df = GeoAccessor.from_table(trips_summ_tbl)
trips_df.columns = ['OBJECTID', 'origin_id', 'destination_id', 'trip_count', 
                    'trip_proximity_miles_mean', 'trip_proximity_miles_median', 'trip_proximity_minutes_mean', 'trip_proximity_minutes_median']
trips_df = trips_df.drop(columns='OBJECTID')
trips_df.head()

,origin_id,destination_id,trip_count,trip_proximity_miles_mean,trip_proximity_miles_median,trip_proximity_minutes_mean,trip_proximity_minutes_median
0,410050201001002,421983243,1,6.684088,6.684088,18.616667,18.616667
1,410050201001002,520835364,3,6.859729,6.732555,20.688889,21.700000
2,410050201001002,585558430,1,9.344798,9.344798,19.483333,19.483333
3,410050201001002,637497553,1,6.472822,6.472822,21.783333,21.783333
4,410050201001002,721916379,1,5.199633,5.199633,18.100000,18.100000

In [10]:
od_labels_df = utils.add_metric_by_origin_dest(od_df, trips_df, 'trip_count')
od_labels_df[od_labels_df['trip_count_01'].notnull()].head()

,origin_id,destination_id_01,proximity_kilometers_01,proximity_minutes_01,destination_id_02,proximity_kilometers_02,proximity_minutes_02,destination_id_03,proximity_kilometers_03,proximity_minutes_03,destination_id_04,proximity_kilometers_04,proximity_minutes_04,trip_count_01,trip_count_02,trip_count_03,trip_count_04
210,410050202001009,895875409,0.515215,2.279156,257782771,0.554985,2.075903,424721410,0.699375,2.580870,404395221,0.791984,2.324222,7.0,16.0,3.0,NaN
211,410050202001010,895875409,0.664737,3.064725,257782771,0.704507,2.861472,404395221,0.819690,2.602385,424721410,0.848897,3.366439,30.0,71.0,NaN,14.0
212,410050202001011,257782771,0.068048,0.411882,895875409,0.269932,0.492594,424721410,0.454092,0.794309,404395221,0.609298,1.181729,6.0,11.0,5.0,NaN
296,410050202004034,895875409,1.354955,3.731247,257782771,1.394725,3.527994,424721410,1.539115,4.032961,479761744,1.918384,3.943817,40.0,22.0,2.0,4.0
297,410050202004035,895875409,1.445931,3.998697,257782771,1.485702,3.795444,424721410,1.630091,4.300411,479761744,2.009361,4.211267,4.0,20.0,NaN,18.0

In [44]:
origin_df = utils.get_dataframe(origin_fc)
origin_df.head()

,OBJECTID,GEOID,SUFFIX,NAME,ALAND,AWATER,INTPTLAT,INTPTLON,SHAPE
0,10635,410050201001000,None,BLOCK 1000,0.0,161851.0,+45.4287996,-122.6520860,"{""rings"": [[[-122.65566145899999, 45.426378462..."
1,10636,410050201001001,None,BLOCK 1001,0.0,553.0,+45.4270483,-122.6552082,"{""rings"": [[[-122.65534145899994, 45.427037462..."
2,10637,410050201001002,None,BLOCK 1002,107069.0,0.0,+45.4307761,-122.6526833,"{""rings"": [[[-122.65548645999996, 45.429533462..."
3,10638,410050201001003,None,BLOCK 1003,21846.0,0.0,+45.4301602,-122.6552851,"{""rings"": [[[-122.65696245999999, 45.428736462..."
4,10639,410050201001004,None,BLOCK 1004,14274.0,0.0,+45.4315147,-122.6547923,"{""rings"": [[[-122.65702845999999, 45.428751462..."