In [9]:
from pathlib import Path
from arcgis.features import GeoAccessor

In [87]:
pth_data = Path('../../data')

pth_raw = pth_data/'raw'
pth_raw_gdb = pth_raw/'raw.gdb'

pth_int = pth_data/'interim'
pth_int_gdb = pth_int/'interim.gdb'

pth_coffee = pth_raw_gdb/'coffee'
pth_coffee_int = pth_int_gdb/'coffee'
count = 'COUNT'
name_class = 'NAME_CLASS'

In [61]:
df = GeoAccessor.from_featureclass((pth_raw_gdb/'coffee').as_posix())
df = df[['LOCNUM', 'CONAME', 'STREET', 'CITY', 'STATE', 'ZIP', 'ZIP4', 
         'NAICS', 'SIC', 'SHAPE']].copy()
df.head()

      LOCNUM                 CONAME             STREET       CITY STATE    ZIP  ZIP4     NAICS     SIC                                              SHAPE
0  413963145    SNOW PEAK COFFEE CO     HILLWOOD RD SE  JEFFERSON    OR  97352  9212  72251505  581228  {"x": -122.99270000035045, "y": 44.77610000019...
1  422168012       BAD GIRLS COFFEE  PARRISH GAP RD SE     TURNER    OR  97392  9565  72251505  581228  {"x": -122.96479999992164, "y": 44.79579999981...
2  244210043  DUTCH BROTHERS COFFEE    SE JEFFERSON ST     DALLAS    OR  97338  2023  72251505  581228  {"x": -123.31560000023427, "y": 44.92460000005...
3  396819021              STARBUCKS    E ELLENDALE AVE     DALLAS    OR  97338  1523  72251505  581228  {"x": -123.30960000042165, "y": 44.92999999968...
4  396819062              STARBUCKS    W ELLENDALE AVE     DALLAS    OR  97338  1408  72251505  581228  {"x": -123.31230000023731, "y": 44.93040000014...

In [63]:
df_cnt = df[[[c for c in df.columns if c != 'CONAME'][0], 'CONAME']].groupby('CONAME').count()
df_cnt.columns = [count]
df_cnt.sort_values(count, ascending=False, inplace=True)
df_cnt.head()

                       COUNT
CONAME
STARBUCKS                298
DUTCH BROTHERS COFFEE     49
PETE'S COFFEE AND TEA     15
ALLEGRO COFFEE             7
HUMAN BEAN                 7

In [64]:
df_cnt[name_class] = df_cnt.index
df_cnt.head(25)

                             COUNT                   NAME_CLASS
CONAME
STARBUCKS                      298                    STARBUCKS
DUTCH BROTHERS COFFEE           49        DUTCH BROTHERS COFFEE
PETE'S COFFEE AND TEA           15        PETE'S COFFEE AND TEA
ALLEGRO COFFEE                   7               ALLEGRO COFFEE
HUMAN BEAN                       7                   HUMAN BEAN
BLACK ROCK COFFEE BAR            6        BLACK ROCK COFFEE BAR
CITY COFFEE                      4                  CITY COFFEE
STUMPTOWN COFFEE ROASTERS        4    STUMPTOWN COFFEE ROASTERS
BLACK ROCK COFFEE                3            BLACK ROCK COFFEE
BLUE MOON COFFEE                 3             BLUE MOON COFFEE
INSOMNIA COFFEE CO               2           INSOMNIA COFFEE CO
BELMONT COFFEE SVC               2           BELMONT COFFEE SVC
COFFEE RUSH                      2                  COFFEE RUSH
AVA ROASTERIA                    2                AVA ROASTERIA
BREWED AWAKENINGS COFFEE CO      2  BREWED AWAKENINGS COFFEE CO
COAVA COFFEE ROASTERS            2        COAVA COFFEE ROASTERS
SYMPOSIUM COFFEE                 2             SYMPOSIUM COFFEE
BLACKROCK COFFEE                 2             BLACKROCK COFFEE
JIM & PATTY'S COFFEE             2         JIM & PATTY'S COFFEE
GAIA JAVA                        2                    GAIA JAVA
OVATION COFFEE & TEA             1         OVATION COFFEE & TEA
PAINTED LADY COFFEE HOUSE        1    PAINTED LADY COFFEE HOUSE
ORACLE COFFEE CO                 1             ORACLE COFFEE CO
OUI STORE INC                    1                OUI STORE INC
PAPER TIGER COFFEE               1           PAPER TIGER COFFEE

In [65]:
df_cnt[name_class] = df_cnt.apply(lambda r: 'INDEPENDENT' if r[count] == 1 else r[name_class], axis=1)
df_cnt.head(25)

                             COUNT                   NAME_CLASS
CONAME
STARBUCKS                      298                    STARBUCKS
DUTCH BROTHERS COFFEE           49        DUTCH BROTHERS COFFEE
PETE'S COFFEE AND TEA           15        PETE'S COFFEE AND TEA
ALLEGRO COFFEE                   7               ALLEGRO COFFEE
HUMAN BEAN                       7                   HUMAN BEAN
BLACK ROCK COFFEE BAR            6        BLACK ROCK COFFEE BAR
CITY COFFEE                      4                  CITY COFFEE
STUMPTOWN COFFEE ROASTERS        4    STUMPTOWN COFFEE ROASTERS
BLACK ROCK COFFEE                3            BLACK ROCK COFFEE
BLUE MOON COFFEE                 3             BLUE MOON COFFEE
INSOMNIA COFFEE CO               2           INSOMNIA COFFEE CO
BELMONT COFFEE SVC               2           BELMONT COFFEE SVC
COFFEE RUSH                      2                  COFFEE RUSH
AVA ROASTERIA                    2                AVA ROASTERIA
BREWED AWAKENINGS COFFEE CO      2  BREWED AWAKENINGS COFFEE CO
COAVA COFFEE ROASTERS            2        COAVA COFFEE ROASTERS
SYMPOSIUM COFFEE                 2             SYMPOSIUM COFFEE
BLACKROCK COFFEE                 2             BLACKROCK COFFEE
JIM & PATTY'S COFFEE             2         JIM & PATTY'S COFFEE
GAIA JAVA                        2                    GAIA JAVA
OVATION COFFEE & TEA             1                  INDEPENDENT
PAINTED LADY COFFEE HOUSE        1                  INDEPENDENT
ORACLE COFFEE CO                 1                  INDEPENDENT
OUI STORE INC                    1                  INDEPENDENT
PAPER TIGER COFFEE               1                  INDEPENDENT

In [67]:
df_out = df.join(df_cnt, on='CONAME')
df_out.head(10)

      LOCNUM                 CONAME             STREET          CITY STATE    ZIP  ZIP4     NAICS     SIC                                              SHAPE  COUNT             NAME_CLASS
0  413963145    SNOW PEAK COFFEE CO     HILLWOOD RD SE     JEFFERSON    OR  97352  9212  72251505  581228  {"x": -122.99270000035045, "y": 44.77610000019...      1            INDEPENDENT
1  422168012       BAD GIRLS COFFEE  PARRISH GAP RD SE        TURNER    OR  97392  9565  72251505  581228  {"x": -122.96479999992164, "y": 44.79579999981...      1            INDEPENDENT
2  244210043  DUTCH BROTHERS COFFEE    SE JEFFERSON ST        DALLAS    OR  97338  2023  72251505  581228  {"x": -123.31560000023427, "y": 44.92460000005...     49  DUTCH BROTHERS COFFEE
3  396819021              STARBUCKS    E ELLENDALE AVE        DALLAS    OR  97338  1523  72251505  581228  {"x": -123.30960000042165, "y": 44.92999999968...    298              STARBUCKS
4  396819062              STARBUCKS    W ELLENDALE AVE        DALLAS    OR  97338  1408  72251505  581228  {"x": -123.31230000023731, "y": 44.93040000014...    298              STARBUCKS
5  572240521  COURTYARD COFFEEHOUSE         SE MILL ST        DALLAS    OR  97338  1908  72251505  581228  {"x": -123.31569999959783, "y": 44.92179999987...      1            INDEPENDENT
6  704868531  PRESSED COFFEE & WINE            MAIN ST        DALLAS    OR  97338  3109  72251505  581228  {"x": -123.31640000014266, "y": 44.92169999951...      1            INDEPENDENT
7  423523259  DUTCH BROTHERS COFFEE      PACIFIC AVE N      MONMOUTH    OR  97361  1516  72251505  581228  {"x": -123.22900000040511, "y": 44.84930000030...     49  DUTCH BROTHERS COFFEE
8  698568425        PINK HOUSE CAFE               D ST  INDEPENDENCE    OR  97351  2407  72251505  581228  {"x": -123.18660000026244, "y": 44.85040000030...      1            INDEPENDENT
9  685312811   SLOW TRAIN COFFEE CO        S BRIDGE ST      SHERIDAN    OR  97378  1807  72251505  581228  {"x": -123.39529999997893, "y": 45.09749999962...      1            INDEPENDENT

In [70]:
df_out.spatial.to_featureclass(pth_coffee_int.as_posix())

'D:\\projects\\geoai-retail\\data\\interim\\interim.gdb\\coffee'

In [74]:
df_out[df_out['NAME_CLASS'] == 'INDEPENDENT'].spatial.to_featureclass((pth_raw_gdb/'coffee_independent').as_posix())

'D:\\projects\\geoai-retail\\data\\raw\\raw.gdb\\coffee_independent'

In [75]:
df_out[df_out['NAME_CLASS'] != 'INDEPENDENT'].spatial.to_featureclass((pth_raw_gdb/'coffee_competition').as_posix())

'D:\\projects\\geoai-retail\\data\\raw\\raw.gdb\\coffee_competition'