In [23]:
import os
from pathlib import Path

import dask
import pandas as pd

In [8]:
data = Path(os.path.abspath('../../data'))
interim_dir = data/'interim'

In [17]:
ddf = dask.dataframe.read_csv(interim_dir/'ace_affected*.csv')
ddf.head()

,Unnamed: 0,delta_01,destination_id_01,destination_id_02,destination_id_03,destination_id_04,destination_id_05,destination_id_06,new_destination_id,origin_id,...,proximity_traveltime_03,proximity_traveltime_04,proximity_traveltime_05,proximity_traveltime_06,trip_count_01,trip_count_02,trip_count_03,trip_count_04,trip_count_05,trip_count_06
0,34,2.146481,1.0,371889957.0,216082099.0,721714069.0,421027779.0,677129595.0,28,5.305307e+11,...,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0
1,34,2.146481,1.0,371889957.0,216082099.0,721714069.0,421027779.0,677129595.0,30,5.305307e+11,...,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0
2,34,2.146481,1.0,371889957.0,216082099.0,721714069.0,421027779.0,677129595.0,31,5.305307e+11,...,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0
3,34,2.146481,1.0,371889957.0,216082099.0,721714069.0,421027779.0,677129595.0,32,5.305307e+11,...,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0
4,34,2.146481,371889957.0,216082099.0,1.0,721714069.0,421027779.0,677129595.0,33,5.305307e+11,...,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0

In [24]:
affected_df = pd.concat([pd.read_csv(f, index_col=0) for f in interim_dir.glob('ace_affected*.csv')]).drop_duplicates(['origin_id', 'new_destination_id'])
affected_df.head()

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgis\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,delta_01,destination_id_01,destination_id_02,destination_id_03,destination_id_04,destination_id_05,destination_id_06,new_destination_id,origin_id,predict_new_01,...,proximity_traveltime_03,proximity_traveltime_04,proximity_traveltime_05,proximity_traveltime_06,trip_count_01,trip_count_02,trip_count_03,trip_count_04,trip_count_05,trip_count_06
34,2.146481,1.0,371889957.0,216082099.0,721714069.0,421027779.0,677129595.0,28,5.305307e+11,2.146481,...,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0
34,2.146481,1.0,371889957.0,216082099.0,721714069.0,421027779.0,677129595.0,30,5.305307e+11,2.146481,...,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0
34,2.146481,1.0,371889957.0,216082099.0,721714069.0,421027779.0,677129595.0,31,5.305307e+11,2.146481,...,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0
34,2.146481,1.0,371889957.0,216082099.0,721714069.0,421027779.0,677129595.0,32,5.305307e+11,2.146481,...,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0
34,2.146481,371889957.0,216082099.0,1.0,721714069.0,421027779.0,677129595.0,33,5.305307e+11,2.146481,...,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0

In [26]:
ddf = dask.dataframe.from_pandas(affected_df, chunksize=30)

In [ ]:
ddf.apply()